@page{
    size: Letter;
    margin: 0.5cm;
    background-color: white !important;
}


@media print {
    thead {display: table-header-group;}
    body {
        background-color: #fff;
    }
}


.emisor-cintilla{
    background-color: #975759;
    color: #fff;
}

.fiscales-emisor{
    color: #7d1916;
}

.fiscales-emisor .telefono, .fiscales-emisor .correo, .fiscales-emisor .web{
    color: #333;
}

header .titulo-vertical{
    background-color: #dbc5c6;
    color: #000;
}

.receptor .nombre{
    color: #000;
}

.receptor .rfc{
    color: #000;
}

.receptor .direccion{
    color: #000;
}

.receptor .estado{
    color: #000;
}

.cfdi .folio span{
    color: #ed483d;
}

.cfdi .tipo span{
    color: #ed483d;
}

.cfdi .folio-fiscal span{
    color: #ed483d;
}

.conceptos th{
    background-color: #975759;
}

.conceptos td.clave, .conceptos td.unidad, .conceptos td.valor-unitario{
    background-color: #dbc5c6;
}

.conceptos td.descripcion, .conceptos td.cantidad, .conceptos td.importe{
    background-color: #f0e7e7;
}

table.subtotal th{
    background-color: #dbc5c6;
}

table.subtotal td{
    background-color: #f0e7e7;
}

.sello .cadenas-sello .cadena div {
    background-color: #dbc5c6;
    color: #7d1916;
}

.rfc-pac {
    background-color: #dbc5c6;
    color: #7d1916;
}

.cancelada{
    color: #ed3833;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('/static/fonts/avenir_next/AvenirNextLTPro-Regular.eot');
    src: url('/static/fonts/avenir_next/AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/avenir_next/AvenirNextLTPro-Regular.woff2') format('woff2'),
        url('/static/fonts/avenir_next/AvenirNextLTPro-Regular.woff') format('woff'),
        url('/static/fonts/avenir_next/AvenirNextLTPro-Regular.ttf') format('truetype'),
        url('/static/fonts/avenir_next/AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('/static/fonts/avenir_next/AvenirNextLTPro-Bold.eot');
    src: url('/static/fonts/avenir_next/AvenirNextLTPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/avenir_next/AvenirNextLTPro-Bold.woff2') format('woff2'),
        url('/static/fonts/avenir_next/AvenirNextLTPro-Bold.woff') format('woff'),
        url('/static/fonts/avenir_next/AvenirNextLTPro-Bold.ttf') format('truetype'),
        url('/static/fonts/avenir_next/AvenirNextLTPro-Bold.svg#AvenirNextLTPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('/static/fonts/avenir_next/AvenirNextLTPro-It.eot');
    src: url('/static/fonts/avenir_next/AvenirNextLTPro-It.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/avenir_next/AvenirNextLTPro-It.woff2') format('woff2'),
        url('/static/fonts/avenir_next/AvenirNextLTPro-It.woff') format('woff'),
        url('/static/fonts/avenir_next/AvenirNextLTPro-It.ttf') format('truetype'),
        url('/static/fonts/avenir_next/AvenirNextLTPro-It.svg#AvenirNextLTPro-It') format('svg');
    font-weight: normal;
    font-style: italic;
}


body {
/*
    font-family: 'Avenir Next';
*/
}

#plantilla {
    border: 1px solid #fff;
    border-color: rgb(204,204,204);
    background: #fff;
    display: block;
    margin: 0 auto;
    width: 19.5cm;
    height: 25.9cm;
    position: relative;
}

.cancelada{
    -ms-transform: rotate(320deg);
    -webkit-transform: rotate(320deg);
    transform: rotate(320deg);
    color: #ed3833;
    font-size: 100px;
    font-weight: bold;
    left: 18%;
    position: absolute;
    text-align: center;
    top: 30%;
    z-index: 1000;
}

.cancelada div{
    font-size: 20px;
}

.emisor-cintilla{
    background-color: #975759;
    color: #fff;
    font-size: 7pt;
    padding: 5px;
    text-align: center;
}

.datos-emisor .logo{
    margin-left: 20px;
    max-width: 180px;
}

.datos-emisor .fiscales-emisor{
    float: right;
}

.fiscales-emisor{
    color: #7d1916;
    font-weight: bold;
    margin-top: 20px;
    text-align: right;
}

.fiscales-emisor .nombre{
    font-size: 18px;
    padding-right: 30px;
}

.fiscales-emisor .rfc{
    font-size: 16px;
    padding-right: 30px;
}

.fiscales-emisor .regimen{
    font-size: 12px;
    padding-right: 30px;
}

.fiscales-emisor .telefono, .fiscales-emisor .correo, .fiscales-emisor .web{
    color: #333;
    font-size: 14px;
    line-height: 15px;
    padding-right: 10px;
}

.fiscales-emisor img{
    margin-left: 10px;
    width: 10px;
}

.clear{
    clear: both;
}

header .titulo-vertical{
    background-color: #dbc5c6;
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    font-size: 15px;
    font-weight: bold;
    left: -31px;
    line-height: 35px;
    position: absolute;
    text-align: center;
    top: 35px;
    width: 105px;
}

header .receptor{
    box-sizing: border-box;
    float: left;
    font-size: 10px;
    height: 106px;
    margin-top: 10px;
    position: relative;
    padding-bottom: 5px;
    padding-left: 45px;
    padding-top: 5px;
    width: 60%;
}

.receptor .nombre{
    color: #000;
    font-size: 17px;
    font-weight: bold;
}

.receptor .rfc{
    color: #000;
    font-size: 15px;
    font-weight: bold;
}

.receptor .direccion,
.receptor .estado{
    color: #000;
    font-size: 10px;
}

.receptor img{
    width: 10px;
}

.receptor .correo,
.receptor .telefono{
    float: right;
    width: 40%;
}

.receptor .uso-cfdi{
    color: #000;
    font-size: 12px;
    font-weight: bold;
    float: left;
    width: 60%;
}

header .cfdi{
    box-sizing: border-box;
    float: right;
    font-size: 10px;
    height: 100px;
    margin-top: 10px;
    position: relative;
    padding-bottom: 5px;
    padding-left: 45px;
    padding-top: 5px;
    width: 35%;
}

.cfdi .folio, .cfdi .tipo{
    color: #000;
    float: left;
    font-size: 11px;
    font-weight: bold;
    line-height: 15px;
    width: 50%;
}

.cfdi .folio span, .cfdi .tipo span{
    color: #ed483d;
}

.cfdi .folio span{
    font-size: 10px;
}

.cfdi .tipo span{
    font-size: 10px;
}

.cfdi .folio-fiscal{
    color: #000;
    font-size: 9px;
    font-weight: bold;
    line-height: 15px;
    text-align: center;
}

.cfdi .folio-fiscal span{
    color: #ed483d;
}

.cfdi .fecha-emision, .cfdi .fecha-certificacion, .cfdi .lugar-expedicion{
    color: #333;
    font-size: 10px;
    font-weight: bold;
    line-height: 15px;
}

.conceptos{
    margin-bottom: 10px;
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.conceptos th{
    background-color: #975759;
    color: #fff;
    font-size: 11px;
    line-height: 15px;
}

.conceptos .clave{
    width: 10%;
}

.conceptos .descripcion{
    width: 45%;
}
.conceptos .descripcion div{
    text-align:  justify;
}

.conceptos .unidad{
    width: 8%;
}

.conceptos .cantidad{
    width: 9%;
}

.conceptos .valor-unitario{
    width: 13%;
}

.conceptos .importe{
    width: 15%;
}

.conceptos td{
    background-color: #975759;
    color: #000;
    font-size: 11px;
    line-height: 15px;
}

.conceptos td.clave, .conceptos td.unidad, .conceptos td.valor-unitario{
    background-color: #dbc5c6;
}

.conceptos td.descripcion, .conceptos td.cantidad, .conceptos td.importe{
    background-color: #f0e7e7;
}

.conceptos td.valor-unitario, .conceptos td.importe{
    text-align: right;
}

.total-letras{
    float: left;
    font-size: 12px;
    line-height: 15px;
    margin: 5px 0;
    width: 63%;
}

table.subtotal{
    float: right;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    width: 37%;
    font-weight: bold;
}

table.subtotal th{
    background-color: #f0e7e7;
    width: 60%;
    padding: 3px 3px 3px 3px;
}

table.subtotal td{
    background-color: #dbc5c6;
    width: 40%;
    padding: 3px 3px 3px 3px;
}

.condiciones-pago{
    font-size: 11px;
    line-height: 14px;
}

.notas{
    float: left;
    font-size: 11px;
    margin: 20px 0;
    width: 70%;
}

.formapago-metodopago, .moneda-tipocambio, .tiporelacion, .relacionados{
    float: left;
    font-size: 11px;
    line-height: 12px;
    width: 70%;
}

.factura-info{
    float: left;
    font-size: 11px;
    line-height: 13px;
    width: 70%;
}

.tipocomite, .tipoproceso, .idcontabilidad{
    float: right;
    font-size: 10px;
    line-height: 12px;
    width: 20%;
}

.sello{
    margin: 10px 0;
}

.sello .cbb{
    border: 1px solid #000;
    height: auto;
    margin-top: 10px;
    margin-right: 1px;
    width: 18%;
}

.sello .cadenas-sello{
    color: #000;
    float: right;
    font-size: 8px;
    font-weight: bold;
    line-height: 15px;
    width: 79%;
    margin-left: 5px;
    margin-right: 5px;
    word-break: break-all;
}

.sello .cadenas-sello .cadena{
    margin: 5px 0;
}

.sello .cadenas-sello .cadena div{
    font-weight: normal;
    background-color: #dbc5c6;
    color: #7d1916;
}

.cadena-original{
    color: #000;
    float: right;
    font-size: 8px;
    font-weight: bold;
    line-height: 15px;
    width: 99%;
    margin: 5px;
    word-break: break-all;
}
.cadena-original div{
    font-weight: normal;
    background-color: #dbc5c6;
    color: #7d1916;
}

.rfc-pac{
    background-color: #dbc5c6;
    color: #7d1916;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    margin: 5px;
}
